@import "src/styles/colors.module";

.mapAction{
  position: absolute;
  z-index: 1111;
  bottom: 0px;
  .placeName{
    h2,span{
      max-height: 46px;
      text-overflow: ellipsis;
      overflow: hidden;
      overflow-wrap: break-word;
      word-break: break-word;
    }
  }
}
